.activityVBox{
     -fx-background-color: #ddecf0;
    -fx-padding: 10px;
    -fx-background-radius:10px;
    -fx-spacing:5px;
}
.activityVBox>ImageView{
    -fx-fit-width:408px;
}


.activityTitle{
    -fx-font-size:16px;
}
.activityDescriptionVBox{
    -fx-font-size:13px;
    -fx-spacing:3px;
}